/* Google font import */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap');
/* Asterix wildcard selector to overwrite default behaviou added by the browser */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* generic project styles */
    color: #3a3a3a;
    font-family: "Lato" , sans-serif;
}
/* header bg color */
header{
    background-color: #ffffff;
    padding: 0 1em;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
 
header a{
    text-decoration: none;
    color: inherit;
}
h1{
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #252525;
}

#menu{
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
}

/* targets direct children of the menu id to space them out vertically */
#menu > li{
    margin-bottom: 1em;
}

/* let user know what page is active */
.active{
    border-bottom: 1px solid #3a3a3a;
}

/* Navbar styles with nav bar toggle */
nav{
    position: absolute;
    left: 0;
    background-color: #ffffff;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    padding: 0 1rem;
    display: none;
    /* top tells the element to allow 100% of its sibling above.
    so it will add itself to the very bottom of that element */
    top: 100%;
}

/* nav toggle; indictes we want to target the sibling nav element*/
#nav-toggle:checked~nav{
    display: block;
}

/* hides checkbox */
#nav-toggle{
    display: none;
}

.nav-toggle-label{
    font-size: 2rem;
}
/* main bg color */
main{
    background-color: lightblue;
    /* make main element take up any surplus space to push the footer down */
    flex: 1 0 auto;
    margin-top: 47px;
}
/* footer bg color */
footer{
    background-color: orange;
}

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px){
    nav{
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }
    /* display list in row format */
    #menu{
        display: flex;
        
    }

    /* space out items */
    #menu > li{
        padding-left: 1rem;
    }

    /* hide X */
    .nav-toggle-label{
        display: none;
    }
}